---
layout: default
---
{%- if paginator.posts.size > 0 -%}
  <ul class="posts">
    <li class="posts-labelgroup" id="posts-labelgroup">
      <h1 id="posts-label">posts</h1>
      {% if site.plainwhite.search %}
      <div class="search-container">
        <div class="search-section">
          <i class="icon-search"></i>
          <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
        </div>
        <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
      </div>
      {% endif %}
    </li>

    {%- for post in paginator.posts -%}
      <li class="post-row">
        {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
        <div class="post-image">
        <a class="post-link" href="{{ post.url | relative_url }}">
        {% if post.image %}
        <img src="{{ post.image | relative_url }}" />
        {% else %}
        <img src="{{ "/assets/images/featured/default.jpg" | relative_url }}" />
        {% endif %}
        </a>
        </div>
        <div class="post-text">
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h2 class="post-title">{{ post.title | escape }}</h2>
        </a>
        <div class="post-meta">
          <div class="post-date">
            <i class="icon-calendar"></i>
            {{ post.date | date: date_format }}
          </div>
          {%- if post.categories.size > 0-%}
          <ul class="post-categories">
            {%- for tag in post.categories -%}
            <li>{{ tag }}</li>
            {%- endfor -%}
          </ul>
          {%- endif -%}
        </div>
        <div class="post">
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </div>
        </div>
      </li>
    {%- endfor -%}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">⏮</a>
      {% else %}
        <span class="previous">⏮</span>
      {% endif %}
      <span class="page_number ">
        {{ paginator.page }} / {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">⏭</a>
      {% else %}
        <span class="next ">⏭</span>
      {% endif %}
    </div>
  </ul>
{%- endif -%}
